<header>
  <nav class="header-nav">
    <a class="header-title" href="/">my codding buddy</a>
    <ul>
      <li>
        <a href="/company">all company</a>
      </li>
      <li>
        <a href="/company/new">new company</a>
      </li>
      <li>
        <a href="/question">all question</a>
      </li>
      <li>
        <a href="/question/new">new question</a>
      </li>
    </ul>
  </nav>
</header>
